
*{
    font-family: arial,sans-serif;
    font-size: 13px;
}
    a{
    color:#5f6368;
    text-decoration :none;
}
a:hover{
    text-decoration: underline;
}
#box{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    background: none!important;
    border:none !important;

}

#box:focus{
    border:0 !important;
    outline:none !important;
    
}

#box:hover .small-box{
    background-color: black;
}
.small-box{
    background-color:#5f6368;
    padding: 2.2px;
}

.nav-container{
    display: flex;
    justify-content: flex-end;
    padding-top:10px;
}
.nav-element{
    margin-left: 30px;
    max-width: 32px;
    max-height: 32px;
    align-self: center;
}

#profile-picture{
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    margin-right: 32px;
    margin-left: 16px;
}
#profile-picture:hover{
    box-shadow: 0px 1.5px 1px 0px darkgray;
    border-radius: 50%;

}
@media(min-height:670px){
    #google-logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 272px;
        padding-top: 150px;
    }
}
@media(max-height:670px){
    #google-logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 213px;
        padding-top: 5px;
    }
}
#search-field{
    display: flex;
    width: 482px;
    height: 45px;
    border: 1px solid lightgrey;
    border-radius:25px;
    margin:auto;
    margin-top: 30px;
}

#search-field:hover{
    box-shadow:
    0px 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.048)
  ;
}

.search-item{
    align-self: center;
    margin-left: 10px;
}

#search-box{
    width: 71%;
    border:none;
    font-size:16px;
}
#search-box:focus{
    border:0 !important;
    outline:none !important;
}
#keyboard{
    margin-right: 10px;
}
#search{
    margin-left:15px;
}

.fa-lg{
    color:#5f6368;
}

.search-buttons{
    display: flex;
    justify-content: center;
}

.button{
    margin:30px 10px 10px 0px;
    width: 132px;
    height: 36px;
    border-radius: 5px;
    border:none;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
}

.button:hover{
    background-image: -webkit-linear-gradient(top,#f1f1f1,#f5f5f5, #f1f1f1);
    box-shadow:
    0px 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.048)
  ;
  border: 1px solid lightgray;
}
p{
    text-align: center;
}

#english-link{
    color:blue;
}

.bottom-top{
    text-align: left;
    padding-left: 25px;
    font-size:14px;
    color:rgba(0, 0, 0, 0.54);
    height: 10px;
}

.footer{
    border-top: 1px solid lightgray;
    background-color: f2f2f2;
    display: flex;
    flex-direction: column;
    margin: 0px -7px 0px -7px;
    position: fixed;
    bottom:0;
    width: 100%;
}
.bottom{
    display: flex;
    border-top: 1px solid lightgray;
    height: 40px;
    justify-content: space-around;
    padding-right: 12px;
    padding-left: 12px;
    
}
.bottom-element-center{
    margin: 180px;
}

.footer-item{
    align-items:center;
}

.bottom-element{
    font-size:14px;
    color:rgba(0, 0, 0, 0.54);
}